<!DOCTYPE html>
<html>
  <%- include("./partials/head.ejs") %>
  <body>
    <%- include("./partials/nav.ejs") %>
    <main>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis sequi animi, nam ducimus nostrum mollitia obcaecati nihil ipsum hic rem temporibus delectus quia repellat nisi beatae, consequatur accusantium odit aperiam!</p>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea fugit maiores distinctio blanditiis quos laborum quisquam vero inventore in doloremque sapiente, cupiditate temporibus rem aliquid nobis odit at beatae eos!</p>
    </main>
  </body>
</html>